{% extends 'auth_base.html' %}

  <!--begin::Body-->
  {% block content %}
  <body id="kt_body"
        class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
      <!--begin::Login-->
      <div class="login login-4 login-signin-on d-flex flex-row-fluid"
           id="kt_login">
        <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat"
             style="background-image: url(https://mhs.ukrim.ac.id/assets/media/bg/bg-3.jpg)">
          <div class="login-form text-center p-7 position-relative overflow-hidden">
            <!--begin::Login Header-->
            <div class="d-flex flex-center mb-15">
              <a href="#">
                <img src="https://mhs.ukrim.ac.id/images/ukrim.png"
                     class="max-h-150px"
                     alt="" />
              </a>
            </div>
            <!--end::Login Header-->
            <!--begin::Login Sign in form-->
            <div class="login-signin">
              <div class="mb-20">
                <h3>Aplikasi Pengelola Asrama Putri</h3>
                <div class="text-muted font-weight-bold">Masukkan Username dan Password untuk masuk:</div>
              </div>
              <form class="form" method="post">
                {% csrf_token %}
                <div class="form-group mb-5">
                  <input class="form-control h-auto form-control-solid py-4 px-8"
                         type="text"
                         placeholder="Nomer Mahasiswa"
                         name="username"
                         required
                         autocomplete="off" />
                </div>
                <div class="form-group mb-5">
                  <input class="form-control h-auto form-control-solid py-4 px-8"
                         type="password"
                         placeholder="Password"
                         required
                         name="password" />
                </div>
                <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
                  <div class="checkbox-inline"></div>
                  <a href="javascript:;"
                     id="kt_login_forgot"
                     class="text-muted text-hover-primary">Lupa
                  Password ?</a>
                </div>
                <button type="submit"
                        id="kt_login_signin_submit"
                        class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">Masuk</button>
              </form>
              <div class="mt-10"></div>
            </div>
            <!--end::Login Sign in form-->
            <!--begin::Login Sign up form-->
            <div class="login-signup">
              <div class="mb-20">
                <h3>Sign Up</h3>
                <div class="text-muted font-weight-bold">Enter your details to create your account</div>
              </div>
              <form class="form" id="kt_login_signup_form">
                <div class="form-group mb-5">
                  <input class="form-control h-auto form-control-solid py-4 px-8"
                         type="text"
                         placeholder="Fullname"
                         name="fullname" />
                </div>
                <div class="form-group mb-5">
                  <input class="form-control h-auto form-control-solid py-4 px-8"
                         type="text"
                         placeholder="Email"
                         name="email"
                         autocomplete="off" />
                </div>
                <div class="form-group mb-5">
                  <input class="form-control h-auto form-control-solid py-4 px-8"
                         type="password"
                         placeholder="Password"
                         name="password" />
                </div>
                <div class="form-group mb-5">
                  <input class="form-control h-auto form-control-solid py-4 px-8"
                         type="password"
                         placeholder="Confirm Password"
                         name="cpassword" />
                </div>
                <div class="form-group mb-5 text-left">
                  <div class="checkbox-inline">
                    <label class="checkbox m-0">
                      <input type="checkbox" name="agree" />
                      <span></span>I Agree the
                      <a href="#" class="font-weight-bold ml-1">terms and conditions</a>.
                    </label>
                  </div>
                  <div class="form-text text-muted text-center"></div>
                </div>
                <div class="form-group d-flex flex-wrap flex-center mt-10">
                  <button id="kt_login_signup_submit"
                          class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2">Sign Up</button>
                  <button id="kt_login_signup_cancel"
                          class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-2">Cancel</button>
                </div>
              </form>
            </div>
            <!--end::Login Sign up form-->
            <!--begin::Login forgot password form-->
            <div class="login-forgot">
              <div class="mb-20">
                <h3>Lupa Password ?</h3>
                <div class="text-muted font-weight-bold">
                  Masukkan NIM anda, agar kami bisa mengirimkan link untuk melakukan set ulang password anda
                </div>
              </div>
              <div id="kt_login_forgot_form">
                <div class="form-group mb-10">
                  <input id="data_kirim"
                         class="form-control form-control-solid h-auto py-4 px-8"
                         type="text"
                         placeholder="NIM"
                         name="email"
                         autocomplete="off" />
                </div>
                <div class="form-group d-flex flex-wrap flex-center mt-10">
                  <button type="button"
                          id="kt_login_forgot_submit"
                          class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2">Kirim</button>
                  <button type="button"
                          id="kt_login_forgot_cancel"
                          class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-2">Batal</button>
                </div>
              </div>
            </div>
            <!--end::Login forgot password form-->
          </div>
        </div>
      </div>
      <!--end::Login-->
    </div>
    {% block scripts %} {% endblock %}
  {% endblock %}
