{% extends 'dashboard.html' %}
{% block title %}Data Pendaftaran{% endblock %}
{% block content %}
<h1> Data Pendaftaran </h1>
    {% comment %} <a class="btn btn-success mb-2" href="{% url 'tambahPengelola' %}"><i class="fa fa-save"></i> Tambah Pengelola</a>  {% endcomment %}
    <div class="card">
        <div class="card-body">
            <table class="table" id="example" width='100%'>
                <thead>
                    <tr>
                        <th>Nomor</th>
                        <th>NIM</th>
                        <th>Tanggal Daftar</th>
                        <th>Tanggal Masuk</th>
                        <th>Tanggal keluar</th>
                        <th>Bukti Bayar</th>
                        <th>Pengelola</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pendaftaran in data_pendaftaran %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ pendaftaran.nim.nim }}</td>
                            <td>{{ pendaftaran.tanggal_daftar|date:'d F Y' | default:'-' }}</td>
                            <td>{{ pendaftaran.tanggal_masuk|date:'d F Y' | default:'-' }}</td>
                            <td>{{ pendaftaran.tanggal_keluar|date:'d F Y' | default:'-' }}</td>
                            <td>
                                {% if pendaftaran.bukti_bayar %}
                                    <a href="{{ pendaftaran.bukti_bayar.url }}" target="_blank">
                                        <img style="width: 50%;
                                                    height: auto"
                                             class='bukti-bayar-img'
                                             src="{{ pendaftaran.bukti_bayar.url }}"
                                             alt="Bukti Bayar">
                                    </a>
                                {% else %}
                                    Bukti Bayar Belum di Upload.
                                {% endif %}
                            </td>
                            <td>{{ pendaftaran.pengelola.nama | default:'-'}}</td>
                            <td>
                                <a class="btn btn-info"
                                   href="{% url 'updatePendaftaran' pendaftaran.id_pendaftaran %}"><i class="fas fa-edit"></i>Lengkapi Pendaftaran</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td style="text-align: center;" colspan="8">
                                <b>Data Kosong</b>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            {% comment %} {{ $books->withQueryString()->links('pagination::bootstrap-5') }} {% endcomment %}
        </div>
    </div>
    <script>
        $(document).ready(function() {
            var table = $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'pdf',
                        text: 'PDF',
                        title: 'Data Pendaftaran',
                        customize: function(doc) {
                            doc.defaultFileName = 'data_pendaftaran';
                            // Remove the "Aksi" column from the PDF document
                            doc.content[1].table.body.forEach(function(row) {
                                row.splice(7, 1); // Remove the "Aksi" column (index 7)
                            });
                        }
                    }
                ]
            });

            $('#example thead th').each(function(index) {
                var column = table.column($(this));
                var columnHeader = $(this);

                if (columnHeader.data('searchable') !== false) {
                    if (index !== 5 && index !== 7) { // Exclude the "Bukti Bayar" column (index 5) and "Aksi" column (index 7) from searching
                        var input = $('<input type="text" class="form-control form-control-sm" placeholder="Search">')
                            .appendTo(columnHeader)
                            .on('keyup change clear', function() {
                                if (column.search() !== this.value) {
                                    column.search(this.value).draw();
                                }
                            });

                        columnHeader.wrapInner('<span class="filterable"></span>');
                    }
                }
            });
        });
    </script>
{% endblock %}
