{% extends 'dashboard.html' %}
{% block title %}Data Kamar{% endblock %}
{% block content %}
<h1 class="title">Data Kamar</h1>
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% comment %} <a class="btn btn-success mb-2" href="{% url 'postKamar' %}"><i class="fa fa-save"></i> Tambah Kamar</a> {% endcomment %}
    


    <div class="card">
      
        <div class="card-body">
            <table class="table " id="example" width='100%'>
                <thead >
                    <tr>
                        <th>Nomor Kamar</th>
                        <th>Status Kamar</th>
                        <th>Ditempati</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for kamar in data_kamar %}
                        <tr>
                            <td>{{ kamar.nomor_kamar }}</td>
                            <td>
                                {% if kamar.status_kamar == 'Tersedia' %}
                                    Tersedia
                                {% else %}
                                    Terpakai
                                {% endif %}
                            </td>
                            <td>
                              {% if kamar.mahasiswas_set.all %}
                                  {% for mahasiswa in kamar.mahasiswas_set.all %}
                                      <p>{{ mahasiswa.nama }} | {{ mahasiswa.nim }}</p>
                                  {% endfor %}
                              {% else %}
                                  <p>-</p>
                              {% endif %}
                          </td>
                            <td>
                                <a class="btn btn-info"
                                   href="{% url 'updateKamar' kamar.nomor_kamar %}"><i class="fas fa-edit"></i>Edit</a>
                            </td>
                        </tr>
                        {% empty %}
                            <tr>
                                <td style="text-align: center;" colspan="4"><b>Data Kosong</b></td>
                            </tr>
                    {% endfor %}
                            
                    </tbody>
                </table>
            </div>
            
        </div>

        <script>
            $(document).ready(function() {
              var table = $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                  {
                    extend: 'pdf',
                    text: 'PDF',
                    title: 'Data Kamar',
                    customize: function(doc) {
                      doc.defaultFileName = 'data_kamar';
                      // Remove the "Aksi" column from the PDF document
                      doc.content[1].table.body.forEach(function(row) {
                        row.splice(3, 1); // Remove the "Aksi" column (index 3)
                      });
                    }
                  }
                ]
              });
          
              $('#example thead th').each(function(index) {
                var column = table.column($(this));
                var columnHeader = $(this);
          
                if (columnHeader.data('searchable') !== false) {
                  columnHeader.on('click', function() {
                    if (!columnHeader.hasClass('sorting_disabled')) {
                      if (columnHeader.hasClass('filtering')) {
                        column.search('').draw();
                        columnHeader.removeClass('filtering');
                      } else {
                        columnHeader.addClass('filtering');
                      }
                    }
                  });
          
                  if (index !== 3) { // Exclude the "Aksi" column (index 3) from searching
                    var input = $('<input type="text" class="form-control form-control-sm" placeholder="Search">')
                      .appendTo(columnHeader)
                      .on('keyup change clear', function() {
                        if (column.search() !== this.value) {
                          column.search(this.value).draw();
                        }
                      });
          
                    columnHeader.wrapInner('<span class="filterable"></span>');
                  }
                }
              });
            });
          </script>
          

    {% endblock %}